[Unit]
Description=Start X11VNC
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -display :0 -auth guess -forever -loop -noxdamage -repeat -passwd PASSWORD -rfbport 5900 -shared

[Install]
WantedBy=multi-user.target
