[Desktop Entry]
Type=Application
Icon=/usr/share/pixmaps/install.png
Name[de]=Betriebssystem installieren
Name[en]=Install the operating system
Exec=xfce4-terminal -e "/usr/bin/arch-install"
Terminal=false
Categories=ConsoleOnly;System;
StartupNotify=false
Comment=
Path=
